.zumi-chan-container {
    position: fixed;
    top: 7vh;
    right: -20vw;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background: rgba(255, 182, 193, 0.8); /* Light pink background */
    padding: 20px;
    border-radius: 20px; /* More rounded corners */
    transition:
        right 0.3s ease,
        box-shadow 0.3s ease; /* Add transition for sliding and glowing effect */
    cursor: pointer; /* Make the container clickable */
    box-shadow: 0 0 15px rgba(255, 105, 180, 0.5); /* Pink glow */
}

.zumi-chan-container.open {
    right: -2vw; /* Slide in */
}

.zumi-chan-container:hover {
    box-shadow: 0 0 20px rgba(255, 105, 180, 0.7); /* Stronger pink glow on hover */
}

.zumi-chan-video {
    width: 50%;
    max-width: 25vw;
    border-radius: 20px; /* More rounded corners */
    margin-bottom: 20px;
    border: 3px solid rgba(255, 105, 180, 0.5); /* Pink border */
}

.zumi-chan-button {
    padding: 10px 15px;
    font-size: 16px;
    max-width: 15vw;
    cursor: pointer;
    border: none;
    border-radius: 20px; /* More rounded corners */
    background-color: rgba(255, 105, 180, 0.8); /* Pink background */
    color: white;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease; /* Add transition for hover effects */
}

.zumi-chan-button:hover {
    background-color: rgba(255, 105, 180, 1); /* Darker pink on hover */
    box-shadow: 0 0 10px rgba(255, 105, 180, 0.7); /* Pink glow on hover */
}
